.container {
  min-width: 1200px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 0 2em;
  position: fixed;
  top: 0;
  left: 0;
  right:0;
  
}

input[type=text], .toggle {
  padding: 6px;
  margin-top: 25px;
  font-size: 20px;
  border: 1px solid black;
  border-radius: 5px;
  outline: none;
}